<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2><span></span> {{event.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="secretSantaApp.event.maxLimit">Max Limit</span></dt>
                <dd>
                    <span>{{event.maxLimit}}</span>
                </dd>
                <dt><span jhiTranslate="secretSantaApp.event.minLimit">Min Limit</span></dt>
                <dd>
                    <span>{{event.minLimit}}</span>
                </dd>
                <dt><span jhiTranslate="secretSantaApp.event.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{event.dateCreated}}</span>
                </dd>
                <dt><span jhiTranslate="secretSantaApp.event.dateExpired">Date Expired</span></dt>
                <dd>
                    <span>{{event.dateExpired}}</span>
                </dd>
                <dt><span jhiTranslate="secretSantaApp.event.member">Member</span></dt>
                <dd>
                    <span *ngFor="let member of event.members; let last = last">
                        <a [routerLink]="['/member', member?.id, 'view' ]">{{member.firstName}}{{member.lastName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    <div *ngIf="event.owned">
                        <a [routerLink]="['/member', event.owned?.user.email, 'view']">{{event.owned?.user.email}}</a>
                    </div>
                </dd>
                <dt><span>You are secret santa for {{gift.receivedGift.firstName}} {{gift.receivedGift.lastName}}!</span></dt>
                <dt><span>Wish list for {{gift.receivedGift.firstName}} {{gift.receivedGift.lastName}}:</span></dt>

                <div class="list-group"*ngFor="let wish of recWishes; let last = last">
                    <button type="button" class="list-group-item list-group-item-action">
                        {{wish.name}}
                    </button>
                </div>

            </dl>
<!--
            <button type="submit"
                    [routerLink]="['/wish',event.id,'wishes']"
                    class="btn btn-primary">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
            Create a new Wish
            </span>

            </button>
            -->
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>

