
    <h2 id="page-heading">
        <span jhiTranslate="secretSantaApp.event.home.title">Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event" [routerLink]="['/event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="secretSantaApp.event.home.createLabel">
            Create a new Event
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="events?.length === 0">
        <span jhiTranslate="secretSantaApp.event.home.notFound">No events found</span>
    </div>



    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutGap="5px" fxFlex="1 1 100%">
            <mat-card class="search" *ngFor="let event of events ;trackBy: trackId" style="margin: 2cm; width: 400px; position: center" [routerLink]="['/event', event.id, 'view' ]">
                <mat-card-title-group>
                    <mat-card-title><h1>{{event.name}}</h1></mat-card-title>
                    <mat-card-subtitle>
                        <p>{{event.description}}</p>
                    </mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content style="float: left;">
                    <h3>
                        From {{event.dateCreated.format("DD-MM-YYYY")}}
                    </h3>
                    <h3>
                        To {{event.dateExpired?.format("DD-MM-YYYY")}}
                    </h3>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
