<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wish">
            <h2><span jhiTranslate="secretSantaApp.wish.detail.title">Wish</span> {{wish.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="secretSantaApp.wish.name">Name</span></dt>
                <dd>
                    <span>{{wish.name}}</span>
                </dd>
                <dt><span jhiTranslate="secretSantaApp.wish.url">Url</span></dt>
                <dd>
                    <span>{{wish.url}}</span>
                </dd>
                <dt><span jhiTranslate="secretSantaApp.wish.member">Member</span></dt>
                <dd>
                    <div *ngIf="wish.member">
                        <a [routerLink]="['/member', wish.member?.id, 'view']">{{wish.member?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="secretSantaApp.wish.event">Event</span></dt>
                <dd>
                    <div *ngIf="wish.event">
                        <a [routerLink]="['/event', wish.event?.id, 'view']">{{wish.event?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wish', wish.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
